.DesktopExtraPanel-container {
  background-color: var(--analagous-complementary);
  display: flex;
  flex-direction: column;
}

.DesktopExtraPanel-details {
  flex-basis: 60%;
  border: solid 1px black;
}

.DesktopExtraPanel-legend {
  flex-basis: 40%;
}
