body {
  margin: 0px;
}

p {
  background-color: aquamarine;
}

.icon {
  height: 2rem;
  width: 2rem;
}

.App-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.App-header {
  background-color: darkcyan;
  display: flex;
  justify-content: center;
}

.App-header button {
  background-color: antiquewhite;
  color: darkolivegreen;
  border: 2px solid azure;
  min-height: 5vh;
  padding: 0px 10px 0px 10px;
  margin: 2px;
}

.App-main {
  flex-grow: 1;
  display: flex;
}

.App-3d-viewer {
  border: 1px solid black;
  flex-basis: calc(100% * (2 / 3));
}
.App-sidebar {
  border: 1px solid white;
  flex-basis: calc(100% * (1 / 3));
  display: flex;
  flex-direction: column;
}
.App-edit-items-form {
  border: 1px dashed black;
  flex-basis: calc(100% * (2 / 3));
}
.App-another-form {
  flex-basis: calc(100% * (1 / 3));
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.App-item {
  border: 1px solid gold;
}
.App-button-bar {
  border: 1px solid black;
}

.DesktopExtraPanel-container {
  visibility: hidden;
  max-width: 0px;
  flex-basis: 0;
}

/* This many breakpoints is overkill and will be hard to maintain. Having a default
and one added breakpoint would be ideal, possibly two for portrait/landscape. */
/* The order things are applied in is set to match the order items are defined in code
and the order of which layouts are needed for the design. Production build should order 
things to also be applied on the least-powerful devices first. */
/* Phone */
@media (orientation: portrait) {
  .App-main {
    background-color: greenyellow;
  }
}

/* Phone Landscape */
@media (orientation: landscape) {
  .App-main {
    background-color: green;
    color: white;
  }
}

/* Tablet Portrait */
@media (min-width: 400px) and (orientation: portrait) {
  .App-main {
    background-color: brown;
    flex-direction: column;
  }
  .App-sidebar {
    border: 1px solid white;
    flex-basis: 33.3333%;
    display: flex;
    flex-direction: row; /* this is default but due to order, it has to override the none default higher up the page */
  }
  .App-edit-items-form {
    border: 1px dashed black;
    flex-basis: 50%;
  }
  .App-another-form {
    flex-basis: 50%;
  }
}

/* Tablet Landscape */
@media (min-height: 400px) and (orientation: landscape) {
  .App-main {
    background-color: burlywood;
  }
}

/* Everything larger than tablet */
@media (min-width: 850px) and (min-height: 850px) {
  .App-main {
    background-color: cyan;
  }

  .App-3d-viewer {
    flex-basis: 60%;
  }

  .App-sidebar {
    flex-basis: 20%;
  }

  .DesktopExtraPanel-container {
    visibility: visible;
    max-width: 30vw;
    flex-basis: 20%;
  }
}
