p {
  background-color: aquamarine;
}

.icon {
  height: 3rem;
  width: 3rem;
}

.App-main {
  display: flex;
}

/* Phone */
@media (orientation: portrait) {
  .App-main {
    background-color: greenyellow;
  }
}

/* Phone Landscape */
@media (orientation: landscape) {
  .App-main {
    background-color: green;
    color: white;
  }
}

/* Tablet Portrait */
@media (min-width: 400px) and (orientation: portrait) {
  .App-main {
    background-color: brown;
  }
}

/* Tablet Landscape */
@media (min-height: 400px) and (orientation: landscape) {
  .App-main {
    background-color: burlywood;
  }
}

/* Everything larger than tablet */
@media (min-width: 850px) and (min-height: 850px) {
  .App-main {
    background-color: cyan;
  }
}
